<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="5"
    android:versionName="1.1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Synsemble"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.aimeetingtable.mobile.AttachmentContentProvider"
            android:authorities="com.aimeetingtable.myapp.attachments"
            android:exported="false"
            android:grantUriPermissions="true" />
        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="AIMeetingTable" />
            <meta-data
                android:name="android.app.arguments"
                android:value="" />
        </activity>
    </application>
</manifest>
